<div  class="stripe">

</div>

<form [formGroup]="reactForm" (ngSubmit)="onSubmit()" >

    <div class="container">
       <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card card-login my-5">
             <div class="card-body">
               <h5 class="card-title text-center"><b>Item Form</b></h5>
              
                 <div class="form-label-group">
                 <label for="uname">Item ID</label>
                   <input type="text" id="itemId" class="form-control" formControlName="itemId" placeholder="Enter Item Id" [ngClass]="{'is-invalid':reactForm.get('itemId').touched && reactForm.get('itemId').invalid}">  
                <div class="invalid-feedback">
                <div>Item Id is required</div>
                </div>
                </div>
                 
                  <div class="form-label-group">
                 <label for="code">Item Code</label>
                   <input type="text" id="code" class="form-control" formControlName="itemcode" placeholder="Enter Item Code" [ngClass]="{'is-invalid':reactForm.get('itemcode').touched && reactForm.get('itemcode').invalid}" >  
                   <div class="invalid-feedback">
                    <div>Item Code is required</div>
                    </div>
                  </div>
   
                 <div class="form-label-group">
                 <label for="inputPassword">Item Name</label>
                   <input type="text" id="inputname" class="form-control" formControlName="itemName" placeholder="Enter Item Name" [ngClass]="{'is-invalid':reactForm.get('itemName').touched && reactForm.get('itemName').invalid}">
                   <div class="invalid-feedback">
                    <div>Item Name is required</div>
                    </div>
                  </div>
                 
                   <div class="form-label-group">
                 <label for="inputPassword">Item Description</label>
                   <textarea type="text" id="inputPassword" class="form-control" formControlName="itemdescription" placeholder="Enter Item Description" [ngClass]="{'is-invalid':reactForm.get('itemdescription').touched && reactForm.get('itemdescription').invalid}"></textarea>
                   <div class="invalid-feedback">
                    <div>Description  is required</div>
                    </div>
                  </div>
   
                  <div class="form-label-group">
                    <label for="inputPassword">Item Detail</label>
                      <textarea type="text" id="inputPassword" class="form-control" formControlName="itemdetail" placeholder="Enter Item Detail" [ngClass]="{'is-invalid':reactForm.get('itemdetail').touched && reactForm.get('itemdetail').invalid}"></textarea>
                      <div class="invalid-feedback">
                       <div>Detail  is required</div>
                       </div>
                     </div>

                  <div class="form-label-group">
                 <label for="inputPassword">Item Category ID</label>
                   <input type="text" id="input" class="form-control" formControlName="itemcategory" placeholder="Enter Item Category ID" [ngClass]="{'is-invalid':reactForm.get('itemcategory').touched && reactForm.get('itemcategory').invalid}">
                   <div class="invalid-feedback">
                    <div>Item Category Id is required</div>
                    </div>
                  </div>
          <br>
                 <button class="btn btn-primary " type="submit">Submit</button>
                 
             </div>
           </div>
         </div>
       </div>
     </div>
     </form>