.form-control {
    padding: 4px 10px 4px 10px !important;
    font-size: 13px !important;
    height: 28px !important;
  }
  button.btn {
    background-color: #ff009d;
    padding: 4px 10px 4px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
  }